@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap");

body {
    font-family: "Montserrat", sans-serif
}

html {
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover
}

.main-header {
    color: white;
    font-size: 96px;
    text-align: center;
    margin-bottom: 42px;
    margin-top: 128px
}

.button-main-link, .button-search {
    width: 100px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #aaa;
    margin: 12px;
    padding: 0px;
    font-size: 16px;
    border: 0px;
    font-family: "Montserrat", sans-serif
}

.button-main-link {
    height: 64px
}

.button-search {
    height: 32px;
    margin-top: 24px;
    width: 128px
}

.button-main-link:hover {
    background-color: darkgrey
}

#image-search {
    float: right
}

#search-input {
    height: 48px;
    width: 60%;
    max-width: 820px;
    margin: auto;
    display: block;
    text-align: center;
    background-color: #aaa;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 36px;
    font-family: "Montserrat", sans-serif
}

#search-input:focus {
    outline: none
}

#two-but {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    max-width: 308px
}